<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="alternate" type="application/rss+xml" href="{{@blog.url}}/rss/">
    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">
    <link rel="prefetch" href="{{@blog.url}}">
    <link href="https://plus.google.com/+MikeBronfman/" rel="author" />

    <link rel="stylesheet" type="text/css" href="{{asset "css/global.min.css"}}" />
    <link href='http://fonts.googleapis.com/css?family=Domine:700|Open+Sans:400,600|Source+Code+Pro:500' rel='stylesheet' type='text/css'>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    {{ghost_head}}
</head>
<body class="{{body_class}}">

    <header class="title">
        {{! THE BELOW <i> ICON CLASS CAN BE CHANGED TO ANY OTHER FontAwesome ICON }}
        {{! REPLACE THE CLASS 'fa-bookmark-o' WITH ANY OTHER ICON NAME }}
        {{! AVAILABLE ICONS CAN BE FOUND AT }}
        {{! http://fortawesome.github.io/Font-Awesome/cheatsheet/ }}
        <a href="{{@blog.url}}"><i class="fa fa-share fa-lg"></i><span>{{@blog.title}}</span></a>
    </header>

    <nav class="wrapper {{#post}}{{post_class}}{{/post}}">
        <a href="#" onclick="return false;"><i class="fa fa-align-justify fa-lg"></i></a>
        <ul>
            {{! ADD STATIC PAGE LINKS HERE }}
            {{! REMOVE THE THREE DEFAULT LINKS BELOW IF NOT USED }}
            {{! REPEAT BY ADDING LINKS TO THE FOOTER BELOW AS COMMENTED}}
            <li><a href="http://michaelbronfman.com" target="_blank">About</a></li>
            <li><a href="mailto:mdbronfman@gmail.com?" target="_blank">Contact</a></li>
        </ul>
    </nav>

    {{{body}}}

    <footer class="wrapper">
        <div class="smallnav">
            {{! ADD STATIC PAGE LINKS HERE }}
            {{! REMOVE THE THREE DEFAULT LINKS BELOW IF NOT USED }}
            <a href="http://michaelbronfman.com">About</a> &bull;
            <a href="mailto:mdbronfman@gmail.com?" target="_blank">Contact</a>
        </div>
        <div>
            Copyright &copy; <a href="{{@blog.url}}/">{{@blog.title}}</a>. {{date format="YYYY"}} &bull; All rights reserved.
            <span class="ghost"><div class="createsend-button" style="height:27px;display:inline-block;" data-listid="d/8D/49A/82A/9C095512D5C84871">
</div><script type="text/javascript">(function () { var e = document.createElement('script'); e.type = 'text/javascript'; e.async = true; e.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://btn.createsend1.com/js/sb.min.js?v=2'; e.className = 'createsend-script'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(e, s); })();</script></span>
        </div>
    </footer>
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script async type="text/javascript" src="{{asset "js/global.min.js"}}"></script>

</body>
</html>
