{{! USER CONFIGURATION OF THIS PAGE IS NOT REQUIRED }}
{{!< default}}

<div class="cover post featured">
    <div class="background" style="background-image: url(http://fwdthinking.co/assets/img/turbine-cover-banner-mini.jpg);"></div>
</div>

<div class="profile">
	{{#if @blog.logo}}<img src="{{@blog.logo}}" class="profileimage" alt="user">{{/if}}
	<h4><i class="fa fa-share fa-lg"></i>{{@blog.title}}</h4>
	<p>{{@blog.description}}</p>
	<hr>
    <ul class="social">
        {{! TWITTER }}<li><a href="https://twitter.com/mikebronfman" class="twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
        {{! LINKEDIN }}<li><a href="https://www.linkedin.com/profile/view?id=151797245" class="linkedin" target="_blank"><i class="fa fa-linkedin"></i></a></li> 
        {{! GITHUB }}<li><a href="http://github.com/mikebronfman" class="github" target="_blank"><i class="fa fa-github-alt"></i></a></li>
        {{! GOOGLE+ }}<li><a href="https://plus.google.com/u/1/+MikeBronfman/posts" class="googleplus" target="_blank"><i class="fa fa-google-plus"></i></a></li>
        {{! INSTAGRAM }}<li><a href="http://instagram.com/djbronf" class="instagram" target="_blank"><i class="fa fa-instagram"></i></a></li>
        <div class="createsend-button" style="height:27px;display:inline-block;" data-listid="d/8D/49A/82A/9C095512D5C84871">
		</div><script type="text/javascript">(function () { var e = document.createElement('script'); e.type = 'text/javascript'; e.async = true; e.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://btn.createsend1.com/js/sb.min.js?v=2'; e.className = 'createsend-script'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(e, s); })();</script>
    </ul>
</div>

<section class="posts postindex wrapper">

	{{#foreach posts}}
	<article class="post {{#if @first}}first{{/if}} {{post_class}}">
		<header>
			<h2>{{tags}}</h2>
			<h1><a href="{{url}}">{{{title}}}</a></h1>
			<span>
				Posted on <i class="fa fa-clock-o"></i><time datetime="{{date format='YYYY-MM-DD'}}">{{date format="MMMM Do, YYYY"}}</time>
			</span>
			<p>{{excerpt characters="260"}}&hellip;</p>
		</header>
	</article>
	{{/foreach}}

	{{pagination}}

</section>
