{{! USER CONFIGURATION OF THIS PAGE IS NOT REQUIRED }}
{{!< default}}

<div id="cover" class="cover post tag-getting-started tag-technology tag-wearables featured">
    <div class="background" style="background-image: url(http://fwdthinking.co/content/images/2014/Jun/Expert-Featured-Image.png);"></div>
    <header class="wrapper">
        <h2><a href="/tag/getting-started/">Getting Started</a>, <a href="/tag/technology/">Technology</a>, <a href="/tag/wearables/">Wearables</a></h2>
        <h1><a href="#">The Test Bed Post</a></h1>
        <span>
            Posted by <a href="http://michaelbronfman.com" target="_blank">Michael Bronfman</a>
                on <i class="fa fa-clock-o"></i> <time datetime="2014-06-17">June 17th, 2014</time>
        </span>
    </header>
</div>

<div class="profile">
	{{#if @blog.logo}}<img src="{{@blog.logo}}" class="profileimage" alt="user">{{/if}}
	<h4><i class="fa fa-share fa-lg"></i>{{@blog.title}}</h4>
	<p>{{@blog.description}}</p>
	<hr>
	<div class="createsend-button" style="height:27px;display:inline-block;" data-listid="d/8D/49A/82A/9C095512D5C84871">
</div><script type="text/javascript">(function () { var e = document.createElement('script'); e.type = 'text/javascript'; e.async = true; e.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://btn.createsend1.com/js/sb.min.js?v=2'; e.className = 'createsend-script'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(e, s); })();</script>
</div>

<section class="posts postindex wrapper">

	{{#foreach posts}}
	<article class="post {{#if @first}}first{{/if}} {{post_class}}">
		<header>
			<h2>{{tags}}</h2>
			<h1><a href="{{url}}">{{{title}}}</a></h1>
			<span>
				Posted on <i class="fa fa-clock-o"></i><time datetime="{{date format='YYYY-MM-DD'}}">{{date format="MMMM Do, YYYY"}}</time>
			</span>
			<p>{{excerpt characters="260"}}&hellip;</p>
		</header>
	</article>
	{{/foreach}}

	{{pagination}}

</section>
