{{! USER CONFIGURATION OF THIS PAGE IS NOT REQUIRED }}
{{!< default}}

<div class="profile">
	{{#if @blog.logo}}<img src="{{@blog.logo}}" class="profileimage" alt="user">{{/if}}
	<h4><i class="fa fa-share fa-lg"></i>{{@blog.title}}</h4>
	<p>{{@blog.description}}</p>
	<hr>
</div>

<div style="
	display: none;
	position: relative;
    background-color: #2b2b2b;
    background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#2b2b2b),color-stop(100%,#000));
    background-image: -webkit-linear-gradient(#2b2b2b,#000);
    background-image: -moz-linear-gradient(#2b2b2b,#000);
    background-image: -o-linear-gradient(#2b2b2b,#000);
    background-image: linear-gradient(#2b2b2b,#000);
    height: 100%;
    width: 100%;
    overflow: hidden;">
    <div style="
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: .6;
    background-size: cover;
    background-position: fixed;background-image: url(http://fwdthinking.co/content/images/2014/Jun/Google_Glass_Explorer_Edition.jpeg);"></div>
</div>

<section class="posts postindex wrapper">

	{{#foreach posts}}
	<article class="post {{#if @first}}first{{/if}} {{post_class}}">
		<header>
			<h2>{{tags}}</h2>
			<h1><a href="{{url}}">{{{title}}}</a></h1>
			<span>
				Posted on <i class="fa fa-clock-o"></i><time datetime="{{date format='YYYY-MM-DD'}}">{{date format="MMMM Do, YYYY"}}</time>.
			</span>
			<p>{{excerpt characters="260"}}&hellip;</p>
		</header>
	</article>
	{{/foreach}}

	{{pagination}}

</section>
