{{!< default}}

{{#post}}

<div class="index">
    <div class="wrapper">
        <h1 class="right">{{title}}</h1>
        <h2 class="left">Introduction</h2>
    </div>
</div>

<div class="profile {{post_class}}">
    <img src="{{author.image}}" class="profileimage" alt="user">
    <h4>{{author.name}}</h4>
    <ul>
        {{! ADD AUTHOR SOCIAL LINKS HERE }}
        {{! REMOVE ANY UNWATED LINKS }}
        {{! SOCIAL LINKS ARE ALSO REQUIRED BELOW WHERE COMMENTED }}
        {{! TWITTER }}<li><a href="https://twitter.com/mikebronfman" class="smallsocialbutton twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
        {{! LINKEDIN }}<li><a href="https://www.linkedin.com/profile/view?id=151797245" class="smallsocialbutton facebook" target="_blank"><i class="fa fa-linkedin"></i></a></li>
        {{! GITHUB }}<li><a href="https://github.com/mikebronfman" class="smallsocialbutton github" target="_blank"><i class="fa fa-github"></i></a></li>
        {{! INSTAGRAM }}<li><a href="https://instagram.com/djbronf" class="smallsocialbutton instagram" target="_blank"><i class="fa fa-instagram"></i></a></li>
        {{! DRIBBBLE }}<li><a href="https://dribbble.com/mikebronfman" class="smallsocialbutton dribbble" target="_blank"><i class="fa fa-dribbble"></i></a></li>
    </ul>
    <p>{{author.bio}}</p>
    <hr>
        <div class="createsend-button" style="height:27px;display:inline-block;" data-listid="d/8D/49A/82A/9C095512D5C84871">
        </div><script type="text/javascript">(function () { var e = document.createElement('script'); e.type = 'text/javascript'; e.async = true; e.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://btn.createsend1.com/js/sb.min.js?v=2'; e.className = 'createsend-script'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(e, s); })();</script>
</div>

<div id="cover" class="cover {{post_class}}">
    <div class="background"></div>
    <header class="wrapper">
        <h2>{{tags}}</h2>
        <h1><a href="#">{{title}}</a></h1>
        <span>
            Posted by <a href="{{author.website}}" target="_blank">{{author.name}}</a>
                on <i class="fa fa-clock-o"></i> <time datetime="{{date format="YYYY-MM-DD"}}">{{date format='MMMM Do, YYYY'}}</time>.
        </span>
    </header>
</div>

<section class="posts wrapper">
    <article class="post {{post_class}}">
        <header>
            <h2>{{tags}}</h2>
            <h1 id="posttitle"><a href="#">{{{title}}}</a></h1>
            <span>
                Posted by <a href="{{author.website}}" target="_blank">{{author.name}}</a>
                on <i class="fa fa-clock-o"></i> <time datetime="{{date format="YYYY-MM-DD"}}">{{date format='MMMM Do, YYYY'}}</time>.
            </span>
        </header>
        <section class="postbody">
            {{content}}
        </section>
        <footer>
            <ul class="share left">
                <li><a href="http://twitter.com/share?text={{encode title}}&url={{url absolute="true"}}" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;" class="smallbutton lightgray"><i class="fa fa-twitter"></i>Twitter</a></li>
                <li><a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;" class="smallbutton lightgray"><i class="fa fa-facebook"></i>Facebook</a></li>
            </ul>
            {{#if tags}}
            <ul class="tags right">
                {{#foreach tags}}
                <a href="{{url}}" class="smallbutton solidgray">{{name}}</a>
                {{/foreach}}
            </ul>
            {{/if}}
        </footer>
        <div class="postprofile">
            <img src="{{author.image}}" class="author" alt="user">
            <div class="info">
                <h4>{{author.name}}</h4>
                <a href="{{author.website}}">{{author.website}}</a>
                <p>{{author.bio}}</p>
                <ul class="social">
                    {{! TWITTER }}<li><a href="https://twitter.com/mikebronfman" class="twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    {{! LINKEDIN }}<li><a href="https://www.linkedin.com/profile/view?id=151797245" class="linkedin" target="_blank"><i class="fa fa-linkedin"></i></a></li> 
                    {{! GITHUB }}<li><a href="http://github.com/mikebronfman" class="github" target="_blank"><i class="fa fa-github-alt"></i></a></li>
                    {{! GOOGLE+ }}<li><a href="https://plus.google.com/u/1/+MikeBronfman/posts" class="googleplus" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                    {{! INSTAGRAM }}<li><a href="http://instagram.com/djbronf" class="instagram" target="_blank"><i class="fa fa-instagram"></i></a></li>
                    <div class="createsend-button" style="height:27px;display:inline-block;" data-listid="d/8D/49A/82A/9C095512D5C84871">
</div><script type="text/javascript">(function () { var e = document.createElement('script'); e.type = 'text/javascript'; e.async = true; e.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://btn.createsend1.com/js/sb.min.js?v=2'; e.className = 'createsend-script'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(e, s); })();</script>
                </ul>
            </div>
        </div>
        <div class="comments">
            <a href="javascript:;" class="readmore smallbutton blue"><i class="fa fa-comments"></i>View Comments...</a>
            <div id="disqus_thread"></div>
            <div id="g-comments"></div>
        </div>

    </article>

</section>

{{/post}}